.main {
  position: relative;
  width: 80%;
  min-height: 80vh;

  display: flex;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffff;
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
    width: 95%;
    padding: 0;
    margin: 1rem 0;
    background-color: transparent;
  }
}

.active {
  border: 1px solid green;
  background-color: #eef5ff;
}
